.popup__content {
  color: white;
  max-width: 500px;
  min-width: calc(375px - 10%);
  width: 90%;
  height: 520px;
  background-color: hsl(220, 17%, 14%);
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}